body{
	background-image: url("picture/bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	font-family: arial;
	margin-top: 90px;
	margin-bottom: 0;
}

.images{
	display: grid;
	grid-template-columns: 1fr 1fr ;
	row-gap: 20px;
}

.pic{
	width: 500px;
	height: 500px;
	display: inline-block;
	border: 3px solid grey;
	border-radius: 8px;
}
